*{
    padding: 0;
    margin: 0;
    font-family: tahoma;
    }
/*header*/
header{
    background-color: #FFECE4;
    display: flex;
    width: 100%;
}
.logo{
    text-align: center;
    justify-content: center;
    display: flex;
}
.logo a img{
    height: 70px;
}
.menu-icon{
    cursor: pointer;
    font-size: 2rem;
    display: none;
    padding: 10px;
}
.menu-container{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    padding: 20px
}
.nav-links a{
    text-decoration: none;
    color: black;
}
.nav-links a:hover{
    color: purple
}
.cart-icon{
    font-size: x-large;
}
.cart-icon a{
    text-decoration: none;
    color: black;
}
.cart-icon a:hover{
    filter: drop-shadow(1px 1px 3px);
    color: #555;
}
/*header*/
/*main*/
main{
    background-color: #FFF4E4;
}
body{
    flex-wrap: wrap;
}
.hero{
    text-align: center;
    filter: blur(8px);
}
.hero img{
    width: 100%;
    padding-top: 10px;
    height: 100vh;
}
.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.bg-text :hover{
    cursor: default;
}
.best-sellers{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #FFF4E4;
}
.best-sellers h2{
    margin-bottom: 30px;
}
.best-sellers img{
    max-width: 100%;
    height: 500px;
}
.best-sellers img:hover{
    filter: drop-shadow(3px 3px 5px black);
}
.product-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.product-item{
    margin: auto
}
.product-item h4{
    padding-bottom: 10px;
    font-style: italic;
    text-align: start;
    color: grey;
}
.product-item p{
    font-weight: bolder;
    text-align: start;
    font-size: 19px;
}
.categories{
    background-color: #949DA5;
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
}
.categories img{
    height: 70vh;
    padding: 30px;
}
.category{
    color: black;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
}
.category h3{
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.category button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.category button:hover{
    font-size: large;
}
/*main*/
/*footer*/
footer{
    display: flex;
    justify-content: space-around;
    background-color: #FFECE4;
    padding: 20px;
    height: 100%;
    flex-wrap: wrap;
}
footer a{
    color: grey;
    text-decoration: none;
    font-size: small;
}
footer li{
    list-style-type: none;
}
footer li i{
    padding: 10px
}
.footer-section{
    flex: 1;
    min-width: 200px;
    margin: 10px;
}
.footer-section h4{
    margin-bottom: 30px;
}
.footer-section ul{
    line-height: 25px;
}
.footer-section ul li a:hover{
text-decoration: underline;
}
.footer-section-media{
    text-align: center;
    align-content: center;
    padding: 10px;
}
.footer-section-media a{
    color: black;
}
.footer-section-media a:hover{
    filter: drop-shadow(1px 1px 3px);
    color: grey;
}
.social-media{
    display: flex;
    border: black 3px solid;
    border-radius: 20px;
}
.footer-section-map{
    height: 100%;
}
iframe{
    height: 250px;
}
/*contact css*/
h1#contact{
    padding-top: 30px;
    text-align: center;
}
form{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.form-container h1{
    text-align: center;
}
input{
    width: 50%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
}
textarea{
    width: 50%;
    min-height: 200px;
    resize: none; 
}
.message{
    padding-bottom: 12px;
}
button[type=submit]{
    background-color: #949DA5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 80px;    
}
button[type=submit]:hover {
    background-color: purple;
}
.form-container{
    padding: 30px;
}
/*media query*/
@media (max-width: 1080px) {
    .menu-icon {
        display: block;
    }
    nav{
        display: none;
    }
    nav.show{
        display: flex;
        flex-direction: column;
        position: absolute;
        border: 1px solid black;
        background-color: #FFF4E4;
        top: 10%;
        left: 4px;
        z-index: 1;
        width: 99%;
        margin: auto;
    }
    .nav-links{
        display: block;
    }
    .nav-links li:hover{
    background-color: grey;
    }
    .product-list img{
        width: 375px;
    }
    .categories img{
        height: 40vh;
        padding: 20px;
    }   
}   